body{
    background-image: url("./../images/index_stars_background.jpg");
    background-repeat: no-repeat;
    position: fixed;
	color:white;
}
.main{
	margin:auto;
	width: 50%;
	height: 80%;
}
.table, td, td {
	border: 1px solid black;
	font-size: 20px;
	text-align: left;
}